@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@700&display=swap');

$maxWidth: 1280;
@mixin adaptiveFont($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (110vw / #{$maxWidth}));
	}
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	background-color: rgb(240, 183, 213);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	box-sizing: border-box;
}
.wrap {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
	@media (max-width: 500px) {
		padding: 10px; 
	}
}
.header {
	display: flex;
	justify-content: space-between;
	.header__icon {		
		img {
		max-width: 100%;
		box-shadow: 1px 1px 20px #fff;
		}
	}
	
}

h1, h2 {
	font-family: 'Merriweather', serif;
	text-align: center;
	text-shadow: 1px 1px 5px rgb(227, 221, 221);
	@include adaptiveFont(24, 18);
}
h1{
	margin: 0;
	@include adaptiveFont(28, 20);
}
p {
	text-align: justify;
	@include adaptiveFont(20, 16);	
}
span {
	font-style: italic;
	color: rgb(197, 78, 78);
	margin-left: 20px;
	@include adaptiveFont(20, 16);
}

.box_navigation {
	display: flex;
	border-right: 'solid 1px'; 
	padding: '1rem'; 
	@media (max-width: 500px) {
		display: block;
		border-right: none; 
	}
}

a {
	display: inline-flex;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	box-shadow: 1px 1px 7px #fff;
	text-shadow: 1px 1px 3px rgb(85, 84, 84);
	font-family: 'Merriweather', serif;
	@include adaptiveFont(16, 10);
	transition: all 0.5s ease 0s;
	&:hover, &:focus {
		background-color: rgb(241, 165, 206);
		text-shadow: 1px 1px 5px rgb(39, 39, 39);
		transition: all 0.5s ease 0s;
	}
}
main {
	padding: 0 10px 0 30px;
	@media (max-width: 500px) {
		padding: 0px; 
	}
}


	
.foto-person {		
		
	.foto-item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #fff;
		.foto-text {			
			margin: 0 0 0 20px;
			@include adaptiveFont(36, 20);
		}
		.foto {				
			width: 8%;	margin: 5px;	
			@include adaptiveFont(30, 20);
			img {
				
				max-width: 100%;		
			}
		}
	}
	
	
}
	

